/***************************************
 ****** Google Fonts - Montserrat ******
 ***************************************/

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/**************************
 ****** Tailwind CSS ******
 **************************/

@import "tailwindcss/base";
@import "tailwindcss/components";

.btn-round {
  @apply text-gray-300 transition-transform duration-150 transform rounded-full;
}

.btn-round:hover {
  @apply text-gray-400 scale-110;
}

.btn-round:focus {
  @apply text-gray-400 scale-110 outline-none shadow-outline;
}

.btn-round-icon {
  @apply w-9 h-9 fill-current;
}

@screen md {
  .btn-round-icon {
    @apply w-12 h-12;
  }
}

.project {
  @apply p-4 shadow-border-red rounded-lg;
}

.project-eyebrow {
  @apply text-red-500 text-sm font-semibold tracking-wide;
}

.project-title {
  @apply text-gray-300 text-lg font-semibold;
}

.project-description {
  @apply mt-4 text-gray-300;
}

.project-links-group {
  @apply mt-4 flex text-sm font-semibold tracking-wide;
}

.project-link {
  @apply text-gray-300 flex items-center;
}

.project-link-icon {
  @apply ml-1 w-4 h-4 fill-current;
}

@import "tailwindcss/utilities";

/************************
 ****** Variables ******
 ***********************/

$primary-color: #f46c6c;

/*****************************************************
 ****** Animated Underline Text Effect on Hover ******
 *****************************************************/

.hover\:underline,
.focus\:underline {
  position: relative;

  &::before {
    left: 50%;
  }

  &::after {
    right: 50%;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    bottom: -3px;
    background-color: $primary-color;
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }
}

.hover\:underline:hover,
.focus\:underline:focus {
  &::before,
  &::after {
    width: 50%;
    opacity: 1;
  }
}

/********************************************
 ****** Lines on both Sides of Heading ******
 ********************************************/

.lines-on-sides {
  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: "";
    flex-grow: 1;
    height: 2px;
    background-color: $primary-color;
  }

  &::before {
    margin-right: 1rem;
  }

  &::after {
    margin-left: 1rem;
  }
}
